.donate_container {
  /* background: red !important; */
}
.donate_form_container {
  margin-top: 20px;
  box-shadow: -3px 5px 12px 4px #b6b6b6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.col input {
  width: 100%;
  box-shadow: -6px 7px 6px 0px #b6b6b6;
}
input {
  border-radius: 10px;
}
input::placeholder {
  color: rgb(3, 191, 3);
}
input:focus {
  border: none;
  outline: none;
}

.light .col input {
  width: 100%;
  box-shadow: -6px 7px 6px 0px #252424;
}
.light .text_black {
  color: black;
}
